#navBar
{
  background-color: black;
}

#brandText
{
  color: white;
}

 #shoeImage
{
  height:  200px;
}

#addModal
{
  margin-top: -200px;

}

#symenticCard
{
  display: inline-block;
}

#soldOutAlert
{
  /*display: none;*/
}

#shoeUploadAlert
{
  display: none;
}

#buyShoeAlert
{
  display: none
}
